/*
*	##############################
*	custom-base.css
*	-	provides basic styles
*	- useful for quick layouting / styling
*	+++++
*	version: 1.0
*	+++++
*	to-do: transfer to less with variables for more flexibility
*	##############################
*/

/*
*	=============================================
*	LAYOUT STYLES
*	=============================================
*/

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	padding
*	%%%%%%%%%%%%%%%%%%%%
*/
.padding-0 {padding:0;}
.padding-15 {padding:15px;}
.padding-30 {padding:30px;}

.padding-t-0 {padding-top: 0;}
.padding-r-0 {padding-right: 0;}
.padding-b-0 {padding-bottom: 0;}
.padding-l-0 {padding-left: 0;}

.padding-lr-0 {padding-left: 0;padding-right: 0;}
.padding-lr-15 {padding-left: 15px;padding-right: 15px;}
.padding-lr-30 {padding-left: 30px;padding-right: 30px;}
.padding-tb-0 {padding-top: 0;padding-bottom: 0;}
.padding-tb-15 {padding-top: 15px;padding-bottom: 15px;}
.padding-tb-30 {padding-top: 30px;padding-bottom: 30px;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	margin
*	%%%%%%%%%%%%%%%%%%%%
*/
.margin-0 {margin: 0;}
.margin-15{margin: 15px;}
.margin-30{margin: 30px;}

.margin-lr-0 {margin-left: 0;margin-right: 0;}
.margin-lr-15 {margin-left: 15px;margin-right: 15px;}
.margin-lr-30 {margin-left: 30px;margin-right: 30px;}
.margin-tb-0 {margin-top: 0;margin-bottom: 0;}
.margin-tb-15 {margin-top: 15px;margin-bottom: 15px;}
.margin-tb-30 {margin-top: 30px;margin-bottom: 30px;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	width
*	%%%%%%%%%%%%%%%%%%%%
*/
.w25{width:25%;}
.w50{width:50%;}
.w75{width:75%;}
.w100{width:100%;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	min-width
*	%%%%%%%%%%%%%%%%%%%%
*/
.min-w25{min-width: 25%;}
.min-w50{min-width: 50%;}
.min-w75{min-width: 75%;}
.min-w100{min-width: 100%;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	max-width
*	%%%%%%%%%%%%%%%%%%%%
*/
.max-w980 {max-width:980px;}
.max-w1170 {max-width:1170px;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	height
*	%%%%%%%%%%%%%%%%%%%%
*/
.h5{min-height:5em;}
.h10{min-height:10em;}
.h15{min-height:15em;}
.h20{min-height:20em;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	position
*	%%%%%%%%%%%%%%%%%%%%
*/
.pos-left{float:left;}
.pos-center{margin:0 auto;}
.pos-right{float:right;}
.pos-absolute{position: absolute;}
.pos-relative{position: relative;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	z-index
*	%%%%%%%%%%%%%%%%%%%%
*/
.z-0{z-index:0;}
.z-50{z-index:50;}
.z-100{z-index:100;}
.z-150{z-index:150;}
.z-200{z-index:200;}

/*
*	=============================================
*	TEXT-STYLES
*	=============================================
*/

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	font-size
*	%%%%%%%%%%%%%%%%%%%%
*/
.fs-100{font-size: 100%;}
.fs-125{font-size: 125%;}
.fs-150{font-size: 150%;}
.fs-175{font-size: 175%;}
.fs-200{font-size: 200%;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	line-height
*	%%%%%%%%%%%%%%%%%%%%
*/
.lh-100 {line-height: 1em;}
.lh-125 {line-height: 1.25em;}
.lh-150 {line-height: 1.5em;}
.lh-175 {line-height: 1.75em;}
.lh-200 {line-height: 2em;}

/*
*	%%%%%%%%%%%%%%%%%%%%
* 	letter-spacing
*	%%%%%%%%%%%%%%%%%%%%
*/
.ls-1{letter-spacing:0.1em;}
.ls-2{letter-spacing:0.2em;}
.ls-3{letter-spacing:0.3em;}
.ls-4{letter-spacing:0.4em;}
.ls-5{letter-spacing:0.5em;}
.ls-6{letter-spacing:0.5em;}
.ls-7{letter-spacing:0.7em;}
.ls-8{letter-spacing:0.8em;}
.ls-9{letter-spacing:0.9em;}
.ls-10{letter-spacing:1em;}
